pyenv
var/
.idea
*.swp
*.pyc
.pyenv
.doc_build/
tmp/
store/
output/
cache/
*.py[co]
# Packages
*.egg-info
dist
build
parts
bin
var
sdist
develop-eggs
.installed.cfg
# Installer logs
pip-log.txt
# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo
.DS_Store
#Mr Developer
.mr.developer.cfg
.vagrant
.auto*
.haproxy
.nginx.conf
.packages
.profile
.schedule.rb
# templates come from another repo
templates/
queues/*.db
storage/*
*~
.frozen-hash-*
ve/
!utils/store
*.pyc
