###
# Path to shell scripts for AWS CLI
# @required
# export AWS_CLI_SETUP_PATH="./aws-cli/setup"

###
# Path to the dynamodb data
# @required
# export DYNAMODB_PATH="./dynamodb"

###
# Path to the kvstore data
# @required
# export KVSTORE_PATH="/Users/<your-user>/kvstore-service"

###
# Path to the localstack data
# @required
# export LOCALSTACK_PATH="./localstack"
